@Html.Raw(ViewData["sidebar"])
<script src="~/js/dropzone/dropzone.js"></script>
<link rel="stylesheet" href="~/js/dropzone/dropzone.css" type="text/css" />

<script src="~/js/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="~/js/UI/jquery-ui.css" type="text/css" />
<script src="~/js/UI/jquery-ui.js"></script>
<script src="~/js/jquery.inputmask.js"></script>
<script src="~/js/moment.js"></script>


<script>
    $(window).resize(function () {
        $("#showsup").dialog("option", "position", { my: "center", at: "center", of: window });
    });

    function splitdata(data) {

        var options = data.split("$");
        document.getElementById('supinfo').innerHTML = options[0];
        document.getElementById('Dsupinfo').innerHTML = options[0];
        document.getElementById('Msupinfo').innerHTML = options[0];
        document.getElementById('txtsupinfo').innerHTML = options[1]
        document.getElementById('txtDsupinfo').innerHTML = options[1]
        document.getElementById('txtMsupinfo').innerHTML = options[1]
    }

    $(window).load(function () {
        $.get("/Expense/GetSup", { stritem: '' }, function (data) { if (data == 'stop') { document.getElementById('supinfo').innerHTML = ''; showsup(); } else { splitdata(data) } });

        $("#txtTotal").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'
        });

        $("#txtTotal1").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'
        });

        $("#txtTotal2").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'
        });

        $("#txtTotal3").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'
        });

        $("#txtTotal4").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'
        });

        $("#txtTotal5").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'
        });

        $("#txtTotal6").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'
        });

        $("#txtDistance").inputmask({
            'alias': 'numeric', 'rightAlign': false, 'groupSeparator': ',', 'digits': 0, 'placeholder': '0'
        });
    });

    $(function () {
        $("#txtDate").datepicker();
        $("#txtDDate").datepicker();
        $("#txtDate1").datepicker();
        $("#txtDate2").datepicker();
        $("#txtDate3").datepicker();
        $("#txtDate4").datepicker();
        $("#txtDate5").datepicker();
        $("#txtDate6").datepicker();
    });
</script>

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden !important;
        display: none !important;
    }

    .fixed_header {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        overflow: auto;
    }

        .fixed_header td, .fixed_header th {
            border: 1px solid #ddd;
            padding: 5px;
        }

        .fixed_header tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .fixed_header tr:hover {
            background-color: #ddd;
        }

        .fixed_header tr.selected {
            background-color: lightcyan;
        }

        .fixed_header tbody {
            display: block;
            width: 100%;
            overflow: auto;
            max-height: 150px;
        }



        .fixed_header th, .fixed_header td {
            padding: 5px;
            text-align: left;
        }



    .txtbox {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 28px;
        width: 100% !important;
    }

    .txtboxmd {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 28px;
        width: 200px !important;
        margin-right: 5px;
    }

    .txtboxerrmd {
        background-color: #fff;
        border: 1px solid red;
        border-radius: 4px;
        height: 28px;
        width: 200px !important;
        margin-right: 5px;
    }

    .txtboxerrsm {
        background-color: #fff;
        border: 1px solid red;
        border-radius: 4px;
        height: 28px;
        width: 100px;
        margin-right: 5px;
    }

    .txtselect {
        border: 3px solid red !important;
        padding-top: 1px;
        padding-bottom: 1px;
        height: 30px;
        float: left;
        width: 200px;
    }

    .txtboxsm {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 28px;
        width: 100px;
        margin-right: 5px;
    }

    .tderror {
        border: 1px solid red;
    }

    .tdnoerror {
        border: none;
    }

    .txtlabel {
        margin-top: 15px;
    }

    .float {
        float: left;
        width: 200px;
        margin-top: 15px;
    }

    .subbutton {
        background-color: #1b1464;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100px;
        color: white;
        text-decoration: none;
        border: none
    }

        .subbutton:hover {
            background-color: #2b3791
        }

    .validation {
        color: red;
    }

    .dropzone {
        border: 1px solid #aaa !important;
        border-radius: 5px !important;
    }

    .imgdiv {
        border: 1px solid #aaa;
        border-radius: 5px;
        margin-top: 10px;
    }

        .imgdiv table {
            width: 280px;
            table-layout: fixed;
        }

    .imgdivtd {
        width: 170px;
        word-wrap: break-word;
        padding-right: 10px
    }

    .tabseta {
        position: relative;
        display: inline-block;
        padding: 10px 20px 10px 20px;
        border: 1px solid transparent;
        border-bottom: 0;
        cursor: pointer;
        font-size: 14px;
        border-color: #ccc;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .tabsetb {
        position: relative;
        display: inline-block;
        padding: 10px 20px 10px 20px;
        border: 1px solid transparent;
        border-bottom: 0;
        cursor: pointer;
        font-size: 14px;
        border-color: #eee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #eee;
    }

        .tabsetb:hover {
            background-color: #ccc;
        }


    .tab-panelsx {
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: -5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
</style>
<h1>New Expense</h1>
<hr />
<a href="/Expense">Return to Expense Home</a>
<div style="height:10px;"></div>
<div class="tabset">
    <label id="Expense" class="tabseta" onclick="tabchange('Expense', 'Distance', 'Multiple')">Expense</label>
    <label id="Distance" class="tabsetb" onclick="tabchange('Distance', 'Expense', 'Multiple')">Distance</label>
    <label id="Multiple" class="tabsetb" onclick="tabchange('Multiple', 'Expense', 'Distance')">Multiple</label>
    <div id="ZExpense" class="tab-panelsx">
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Expense" asp-action="PostExpense" method="post">
                    <div class="txtlabel">* Facility</div>
                    <div>@Html.Raw(ViewData["Facilities1"])</div>
                    <div id="validateFacility" class="hidden">Please select a facility.</div>

                    <div class="txtlabel">* Merchant</div>
                    <div><input type="text" id="txtMerchant" class="txtbox" name="txtMerchant" /></div>
                    <div id="validateMerchant" class="hidden">Please enter a merchant.</div>

                    <div class="txtlabel">* Date</div>
                    <div><input type="text" id="txtDate" class="txtbox" name="txtDate" /></div>
                    <div id="validateDate" class="hidden">Please enter a valid date.</div>

                    <div class="txtlabel">* Total</div>
                    <div><input type="text" id="txtTotal" class="txtbox" name="txtTotal" /></div>
                    <div id="validateTotal" class="hidden">Please enter a valid total.</div>

                    <div class="txtlabel"><input type="checkbox" id="cbreimbursable" />&nbsp;&nbsp;Reimbursable</div>
                    <br />

                    <div class="txtlabel">* Category</div>
                    <div>@Html.Raw(ViewData["CATS"])</div>
                    <div id="validateCategory" class="hidden">Please select a category.</div>

                    <div class="txtlabel">* Attendees</div>
                    <div><input type="text" id="txtAttendees" class="txtbox" name="txtAttendees" value="@Html.Raw(ViewData["curuser"])" /></div>
                    <div id="validateAttendees" class="hidden">Please enter an attendee.</div>

                    <div class="txtlabel">Description</div>
                    <div><input type="text" id="txtDescription" class="txtbox" name="txtDescription" /></div>

                    <div class="txtlabel">* Report</div>
                    <div><select id="ddReport" style="width:280px !important" class="txtbox"><option>(automatic)</option></select></div>
                    <div id="validateReport" class="hidden">Please select a report.</div>

                    <input type="text" id="txtreimbursalbe" name="txtreimbursalbe" class="hidden" />
                    <input type="text" id="txtCategory" name="txtCategory" class="hidden" />
                    <input type="text" id="txtFac" name="txtFac" class="hidden" />
                    <input type="text" id="txtNewTotal" name="txtNewTotal" class="hidden" />
                    <input type="text" id="txtReport" name="txtReport" class="hidden" />
                    <input name="UID" id="UID" type="text" value="@Html.Raw(ViewData["UID"])" class="hidden" />
                    <input type="button" id="subexpense" class="hidden" onclick="submit()" />
                    <div id="txtsupinfo" class="hidden"></div>
                </form>
            </div>

            <div class="col-md-4" style="padding-top:35px; max-width:310px;">
                @using (Html.BeginForm("UploadFile", "Expense",
                       FormMethod.Post,
                       new
                       {
                           @class = "dropzone",
                           id = "dropzone-form",
                       }))
                {
    <div class="fallback">
        <input name="file" type="file" multiple />

    </div>
                    <input name="fUID" type="text" value="@Html.Raw(ViewData["UID"])" class="hidden" />}

                <div id="imagelist">

                </div>
                <input type="button" class="btn btn-primary" style="margin-bottom:10px;margin-top:15px;" value="Submit Expense" onclick="validatesub()" />
                <div id="supinfo" style="color:gray; font-size:12px"></div>
                <input type="text" id="changesupinfo" class="hidden" />
            </div>
        </div>
        @section Scripts{
            <script type="text/javascript">
                Dropzone.options.dropzoneForm = {
                    paramName: "file",
                    maxFilesize: 20,
                    maxFiles: 4,

                    dictMaxFilesExceeded: "Custom max files msg",
                    dictDefaultMessage: '<img src="/images/uploadimg.png" /><br /><input type="button" class="btn btn-primary" style="margin-bottom:10px;margin-top:15px;" value="Choose files to Upload" /><br /><span style="color:gray">or drag and drop them here</span>',
                    success: function (file, response) {
                        this.removeFile(file);
                        $.get("/Expense/GetImages", { stritem: document.getElementById('UID').value }, function (data) { document.getElementById('imagelist').innerHTML = data });
                        // This return statement is necessary to remove progress bar after uploading.
                        return file.previewElement.classList.add("dz-success");
                    }
                };


            </script>
        }

    </div>
    <div id="ZDistance" class="hidden">
        <div class="row">
            <form asp-controller="Expense" asp-action="PostDistance" method="post">
                <div class="col-md-4">
                    <div class="txtlabel">* Facility</div>
                    <div>@Html.Raw(ViewData["Facilities2"])</div>
                    <div id="validateDFacility" class="hidden">Please select a facility.</div>

                    <div class="txtlabel">* From Address</div>
                    <div><input type="text" id="txtFromAddress" class="txtbox" name="txtFromAddress" /></div>
                    <div id="validateFromAddress" class="hidden">Please enter a from address.</div>

                    <div class="txtlabel">* To Address</div>
                    <div><input type="text" id="txtToAddress" class="txtbox" name="txtToAddress" /></div>
                    <div id="validateToAddress" class="hidden">Please enter a to address.</div>

                    <div class="txtlabel">* Distance</div>
                    <div><input type="text" id="txtDistance" class="txtbox" name="txtDistance" onkeyup="calcmile()" /></div>
                    <div id="validateDistance" class="hidden">Please enter a distance.</div>

                    <div class="txtlabel">* Rate</div>
                    <div><select id="ddRate" style="width:280px !important" class="txtbox"><option>.56</option></select></div>
                    <div id="validateRate" class="hidden">Please select a rate.</div>

                    <div class="txtlabel">* Date</div>
                    <div><input type="text" id="txtDDate" class="txtbox" name="txtDDate" /></div>
                    <div id="validateDDate" class="hidden">Please enter a valid date.</div>

                    <div class="txtlabel">* Amount</div>
                    <div><input type="text" id="txtAmount" class="txtbox" name="txtAmount" disabled="disabled" value="0" /></div>
                </div>
                <div class="col-md-4">


                    <div class="txtlabel">* Category</div>
                    <div>@Html.Raw(ViewData["DCATS"])</div>
                    <div id="validateDCategory" class="hidden">Please select a category.</div>

                    <div class="txtlabel">Description</div>
                    <div><input type="text" id="txtDDescription" class="txtbox" name="txtDDescription" /></div>

                    <div class="txtlabel">* Report</div>
                    <div><select id="ddDReport" style="width:280px !important" class="txtbox"><option>(automatic)</option></select></div>
                    <div id="validateDReport" class="hidden">Please select a report.</div>

                    <input type="button" id="subDistance" class="hidden" onclick="submit()" />
                    <input type="text" id="txtDReport" name="txtDReport" class="hidden" />
                    <input type="text" id="txtDreimbursalbe" name="txtDreimbursalbe" class="hidden" />
                    <input type="text" id="txtRate" name="txtRate" class="hidden" />
                    <input type="text" id="txtDCategory" name="txtDCategory" class="hidden" />
                    <input type="text" id="txtDFac" name="txtDFac" class="hidden" />
                    <input type="text" id="txtNewAmount" name="txtNewAmount" class="hidden" />
                    <div id="txtDsupinfo" class="hidden"></div>
                    <div class="txtlabel"><input type="checkbox" id="cbDreimbursable" />&nbsp;&nbsp;Reimbursable</div>
</form>

            <input type="button" class="btn btn-primary" style="margin-bottom:10px;margin-top:15px;" value="Submit Distance" onclick="validatedist()" />
            <div id="Dsupinfo" style="color:gray; font-size:12px"></div>
        </div>
        </div>
    </div>

    <div id="ZMultiple" class="hidden">
        <form asp-controller="Expense" asp-action="PostMulti" method="post">
            <div class="txtlabel">* Facility</div>
            <div>@Html.Raw(ViewData["Facilities3"])</div>
            <div id="validateMFacility" class="hidden">Please select a facility.</div>
            <hr />
            <table>
                <tr>
                    <td><input type="text" id="txtDate1" name="txtDate1" class="txtboxsm" placeholder="Date" /></td>
                    <td><input type="text" id="txtMerch1" name="txtMerch1" placeholder="Merchant" class="txtboxmd" /></td>
                    <td><input type="text" id="txtTotal1" placeholder="Total" class="txtboxsm" /></td>
                    <td><input type="text" id="txtDesc1" name="txtDesc1" placeholder="Description" class="txtboxmd" /></td>
                    <td id="mtd1"><div id="mhold1">@Html.Raw(ViewData["MCATS1"])</div><span class="hidden" id="mpass1">@Html.Raw(ViewData["MCATS1"])</span></td>
                    <td><input type="button" class="btn btn-primary" style="margin-left:5px" id="mbtn1" value="X" /></td>
                </tr>
            </table>
            <hr />
            <table>
                <tr>
                    <td><input type="text" id="txtDate2" name="txtDate2" class="txtboxsm" placeholder="Date" /></td>
                    <td><input type="text" id="txtMerch2" name="txtMerch2" placeholder="Merchant" class="txtboxmd" /></td>
                    <td><input type="text" id="txtTotal2" placeholder="Total" class="txtboxsm" /></td>
                    <td><input type="text" id="txtDesc2" name="txtDesc2" placeholder="Description" class="txtboxmd" /></td>
                    <td id="mtd2"><span id="mhold2">@Html.Raw(ViewData["MCATS2"])</span><span class="hidden" id="mpass2">@Html.Raw(ViewData["MCATS2"])</span></td>
                    <td><input type="button" class="btn btn-primary" id="mbtn2" style="margin-left:5px" value="X" /></td>
                </tr>
            </table>
            <hr />
            <table>
                <tr>
                    <td><input type="text" id="txtDate3" name="txtDate3" class="txtboxsm" placeholder="Date" /></td>
                    <td><input type="text" id="txtMerch3" name="txtMerch3" placeholder="Merchant" class="txtboxmd" /></td>
                    <td><input type="text" id="txtTotal3" placeholder="Total" class="txtboxsm" /></td>
                    <td><input type="text" id="txtDesc3" name="txtDesc3" placeholder="Description" class="txtboxmd" /></td>
                    <td id="mtd3"><span id="mhold3">@Html.Raw(ViewData["MCATS3"])</span><span class="hidden" id="mpass3">@Html.Raw(ViewData["MCATS3"])</span></td>
                    <td><input type="button" class="btn btn-primary" id="mbtn3" style="margin-left:5px" value="X" /></td>
                </tr>
            </table>
            <hr />
            <table>
                <tr>
                    <td><input type="text" id="txtDate4" name="txtDate4" class="txtboxsm" placeholder="Date" /></td>
                    <td><input type="text" id="txtMerch4" name="txtMerch4" placeholder="Merchant" class="txtboxmd" /></td>
                    <td><input type="text" id="txtTotal4" placeholder="Total" class="txtboxsm" /></td>
                    <td><input type="text" id="txtDesc4" name="txtDesc4" placeholder="Description" class="txtboxmd" /></td>
                    <td id="mtd4"><span id="mhold4">@Html.Raw(ViewData["MCATS4"])</span><span class="hidden" id="mpass4">@Html.Raw(ViewData["MCATS4"])</span></td>
                    <td><input type="button" class="btn btn-primary" id="mbtn4" style="margin-left:5px" value="X" /></td>
                </tr>
            </table>
            <hr />
            <table>
                <tr>
                    <td><input type="text" id="txtDate5" name="txtDate5" class="txtboxsm" placeholder="Date" /></td>
                    <td><input type="text" id="txtMerch5" name="txtMerch5" placeholder="Merchant" class="txtboxmd" /></td>
                    <td><input type="text" id="txtTotal5" placeholder="Total" class="txtboxsm" /></td>
                    <td><input type="text" id="txtDesc5" name="txtDesc5" placeholder="Description" class="txtboxmd" /></td>
                    <td id="mtd5"><span id="mhold5">@Html.Raw(ViewData["MCATS5"])</span><span class="hidden" id="mpass5">@Html.Raw(ViewData["MCATS5"])</span></td>
                    <td><input type="button" class="btn btn-primary" id="mbtn5" style="margin-left:5px" value="X" /></td>
                </tr>
            </table>
            <hr />
            <table>
                <tr>
                    <td><input type="text" id="txtDate6" name="txtDate6" class="txtboxsm" placeholder="Date" /></td>
                    <td><input type="text" id="txtMerch6" name="txtMerch6" placeholder="Merchant" class="txtboxmd" /></td>
                    <td><input type="text" id="txtTotal6" placeholder="Total" class="txtboxsm" /></td>
                    <td><input type="text" id="txtDesc6" name="txtDesc6" placeholder="Description" class="txtboxmd" /></td>
                    <td id="mtd6"><span id="mhold6">@Html.Raw(ViewData["MCATS6"])</span><span class="hidden" id="mpass6">@Html.Raw(ViewData["MCATS6"])</span></td>
                    <td><input type="button" class="btn btn-primary" id="mbtn6" style="margin-left:5px" value="X" /></td>
                </tr>
            </table>

            <input type="text" id="txtmcat1" name="txtmcat1" class="hidden" />
            <input type="text" id="txtmcat2" name="txtmcat2" class="hidden" />
            <input type="text" id="txtmcat3" name="txtmcat3" class="hidden" />
            <input type="text" id="txtmcat4" name="txtmcat4" class="hidden" />
            <input type="text" id="txtmcat5" name="txtmcat5" class="hidden" />
            <input type="text" id="txtmcat6" name="txtmcat6" class="hidden" />

            <input type="text" id="txtmtotal1" name="txtmtotal1" class="hidden" />
            <input type="text" id="txtmtotal2" name="txtmtotal2" class="hidden" />
            <input type="text" id="txtmtotal3" name="txtmtotal3" class="hidden" />
            <input type="text" id="txtmtotal4" name="txtmtotal4" class="hidden" />
            <input type="text" id="txtmtotal5" name="txtmtotal5" class="hidden" />
            <input type="text" id="txtmtotal6" name="txtmtotal6" class="hidden" />

            <div id="txtMsupinfo" class="hidden"></div>
            <input type="text" id="txtMFac" name="txtMFac" class="hidden" />
            <input name="UID" type="text" value="@Html.Raw(ViewData["UID"])" class="hidden" />
            <input type="button" id="subMulti" class="hidden" onclick="submit()" />
        </form>
        <hr />

        <div id="multierrors" class="hidden">Required fields missing</div>
        <input type="button" class="btn btn-primary" style="margin-bottom:10px;margin-top:15px;" value="Submit Multiple" onclick="validatemulti()" />
        <div id="Msupinfo" style="color:gray; font-size:12px"></div>


    </div>
</div>


<div id="Expense" class="tabcontent" style="display:block">

</div>

<script>
    function showsup() {
        if (document.getElementById('supinfo').innerHTML == '') {
            document.getElementById('supclose').className = 'hidden'
        } else {
            document.getElementById('supclose').className = 'btn btn-secondary'
        }
        $("#showsup").dialog({
            resizable: false,
            height: "auto",
            width: "80%",
            modal: true
        });
    };
</script>

<div style="visibility:hidden; height:0px; display:none">
    <div id="showsup" title="Select your supervisor">
        <input type="text" class="txtbox" id="supsearch" name="supsearch" placeholder="Search" onkeyup="supsearch()" />
        <div style="height:160px; margin-top:10px" id="supresults">

        </div>
        <br />
        <div id="superror" style="color:red" class="hidden"><b>Please search and select a supervisor.</b></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" onclick="savesup()">Save</button>
            <button type="button" class="btn btn-secondary" onclick="$('#showsup').dialog('close');" id="supclose">Close</button>
        </div>
    </div>
</div>


<script>
    function validatesub() {
        var errors = 0

        var amount = document.getElementById('txtTotal').value
        amount = amount.replace('$', '')
        amount = amount.replace(' ', '')
        amount = amount.replace(/,/g, '')

        if (document.getElementById('txtMerchant').value == '') {
            document.getElementById('validateMerchant').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateMerchant').className = 'hidden'
        }

        if (moment(document.getElementById('txtDate').value, "MM/DD/YYYY", true).isValid()) {
            document.getElementById('validateDate').className = 'hidden'
        } else {
            document.getElementById('validateDate').className = 'validation'
            errors = 1
        }

        if (document.getElementById('txtTotal').value == '') {
            document.getElementById('validateTotal').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtNewTotal').value = amount
            document.getElementById('validateTotal').className = 'hidden'
        }

        if (document.getElementById('cbreimbursable').checked) {
            document.getElementById('txtreimbursalbe').value = 'true'
        } else {
            document.getElementById('txtreimbursalbe').value = 'false'
        }

        if (document.getElementById('ddCat').value == '') {
            document.getElementById('validateCategory').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtCategory').value = document.getElementById('ddCat').value
            document.getElementById('validateCategory').className = 'hidden'
        }

        if (document.getElementById('ddFac').value == '') {
            document.getElementById('validateFacility').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtFac').value = document.getElementById('ddFac').value
            document.getElementById('validateFacility').className = 'hidden'
        }

        if (document.getElementById('txtAttendees').value == '') {
            document.getElementById('validateAttendees').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateAttendees').className = 'hidden'
        }

        if (document.getElementById('ddReport').value == '') {
            document.getElementById('validateReport').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtReport').value = document.getElementById('ddReport').value
            document.getElementById('validateReport').className = 'hidden'
        }


        if (errors == 0) {

            document.getElementById('subexpense').click()
        }
    }
    function supsearch() {
        $.get("/Expense/getusers", { supsearch: document.getElementById("supsearch").value }, function (data) {
            document.getElementById('supresults').innerHTML = data
        });
    }

    function changesup(supinfor, rowinfo) {
        document.getElementById('changesupinfo').value = supinfor;
        $('.selected').removeClass('selected');
        $(rowinfo).addClass("selected");
    }

    function savesup() {
        if (document.getElementById("changesupinfo").value == '') {
            document.getElementById('superror').className = '';
        } else {
            $.get("/Expense/savesup", { supinfo: document.getElementById("changesupinfo").value }, function (data) {
                document.getElementById('supinfo').innerHTML = data;
                document.getElementById('Dsupinfo').innerHTML = data;
                document.getElementById('Msupinfo').innerHTML = data;
                $('#showsup').dialog('close');
                document.getElementById('superror').className = 'hidden';
                document.getElementById('supsearch').value = ''
                document.getElementById('changesupinfo').value = ''
                document.getElementById('supresults').innerHTML = ''
            });
        }

    }

    function delblob(blobname) {
        $.get("/Expense/DelBlob", { stritem: document.getElementById('UID').value, strblob: blobname }, function (data) { document.getElementById('imagelist').innerHTML = data });

    }

    function tabchange(tabname, tabb, tabbb) {

        document.getElementById(tabname).className = "tabseta"
        document.getElementById(tabb).className = "tabsetb"
        document.getElementById(tabbb).className = "tabsetb"

        document.getElementById('Z' + tabname).className = "tab-panelsx"
        document.getElementById('Z' + tabb).className = "hidden"
        document.getElementById('Z' + tabbb).className = "hidden"
    }

    function calcmile() {
        var distance = document.getElementById('txtDistance').value
        distance = distance.replace(/,/g, '')
        var amount = document.getElementById('ddRate').value * parseInt(distance)
        amount = amount.toFixed(2)
        document.getElementById('txtAmount').value = '$ ' + amount.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
    }

    function validatedist() {
        var errors = 0

        if (document.getElementById('txtDistance').value == '') {
            document.getElementById('validateDistance').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateDistance').className = 'hidden'
        }

        if (document.getElementById('txtFromAddress').value == '') {
            document.getElementById('validateFromAddress').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateFromAddress').className = 'hidden'
        }

        if (document.getElementById('txtToAddress').value == '') {
            document.getElementById('validateToAddress').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateToAddress').className = 'hidden'
        }

        if (document.getElementById('ddRate').value == '') {
            document.getElementById('validateRate').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtRate').value = document.getElementById('ddRate').value
            document.getElementById('validateRate').className = 'hidden'
        }

        if (moment(document.getElementById('txtDDate').value, "MM/DD/YYYY", true).isValid()) {
            document.getElementById('validateDDate').className = 'hidden'
        } else {
            document.getElementById('validateDDate').className = 'validation'
            errors = 1
        }

        if (document.getElementById('ddDCat').value == '') {
            document.getElementById('validateDCategory').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtDCategory').value = document.getElementById('ddDCat').value
            document.getElementById('validateDCategory').className = 'hidden'
        }

        if (document.getElementById('ddDFac').value == '') {
            document.getElementById('validateDFacility').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtDFac').value = document.getElementById('ddDFac').value
            document.getElementById('validateDFacility').className = 'hidden'
        }

        if (document.getElementById('ddDReport').value == '') {
            document.getElementById('validateDReport').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtDReport').value = document.getElementById('ddReport').value
            document.getElementById('validateDReport').className = 'hidden'
        }

        if (document.getElementById('cbDreimbursable').checked) {
            document.getElementById('txtDreimbursalbe').value = 'true'
        } else {
            document.getElementById('txtDreimbursalbe').value = 'false'
        }

        var amount = document.getElementById('txtAmount').value
        amount = amount.replace('$', '')
        amount = amount.replace(' ', '')
        amount = amount.replace(/,/g, '')

        document.getElementById('txtNewAmount').value = amount

        if (errors == 0) {
            document.getElementById('subDistance').click()
        }
    }

    function multiclear(item) {
        document.getElementById('txtDate' + item).value = ''
        document.getElementById('txtMerch' + item).value = ''
        document.getElementById('txtTotal' + item).value = ''
        document.getElementById('txtDesc' + item).value = ''
    }

    function validatemulti() {
        var errors = 0
        var i = 1
        var info = 0

        if (document.getElementById('ddMFac').value == '') {
            document.getElementById('validateMFacility').className = 'validation'
            errors = 1
        } else {
            document.getElementById('txtMFac').value = document.getElementById('ddMFac').value
            document.getElementById('validateMFacility').className = 'hidden'
        }

        do {
            var txtdate = document.getElementById('txtDate' + i.toString()).value
            var txtmerch = document.getElementById('txtMerch' + i.toString()).value
            var txttotal = document.getElementById('txtTotal' + i.toString()).value
            var txtdesc = document.getElementById('txtDesc' + i.toString()).value
            var txtcat = document.getElementById('ddMCat' + i.toString()).value

            if (txtdate == '' && txtmerch == '' && txttotal == '' && txtdesc == '' && txtcat == '') {

            } else {
                info = 1
                if (txtdate == '') {
                    document.getElementById('txtDate' + i.toString()).className = 'txtboxerrsm'
                    errors = 1
                } else {
                    document.getElementById('txtDate' + i.toString()).className = 'txtboxsm'
                }

                if (txtmerch == '') {
                    document.getElementById('txtMerch' + i.toString()).className = 'txtboxerrmd'
                    errors = 1
                } else {
                    document.getElementById('txtMerch' + i.toString()).className = 'txtboxmd'
                }

                if (txttotal == '') {
                    document.getElementById('txtTotal' + i.toString()).className = 'txtboxerrsm'
                    errors = 1
                } else {
                    var amount = txttotal
                    amount = amount.replace('$', '')
                    amount = amount.replace(' ', '')
                    amount = amount.replace(/,/g, '')
                    document.getElementById('txtTotal' + i.toString()).className = 'txtboxsm'
                    document.getElementById('txtmtotal' + i.toString()).value = amount
                }

                if (txtcat == '') {
                    document.getElementById('mtd' + i.toString()).className = 'tderror'
                    errors = 1
                } else {
                    document.getElementById('mtd' + i.toString()).className = 'tdnoerror'
                    document.getElementById('txtmcat' + i.toString()).value = txtcat
                }
            }

            i++;
        }
        while (i < 7)

        if (errors == 1) {
            document.getElementById('multierrors').className = 'validation'
        } else {
            if (info == 1) {
                document.getElementById('multierrors').className = 'hidden'
                document.getElementById('subMulti').click()
            }
        }
    }
</script>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/select2/js/select2.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function ($) {
        $("#ddCat").select2();
        $("#ddReport").select2();
        $("#ddDCat").select2();
        $("#ddDReport").select2();
        $("#ddRate").select2();
        $("#ddFac").select2();
        $("#ddDFac").select2();
        $("#ddMFac").select2();
        $("#ddMCat1").select2({ placeholder: "Category" });
        $("#ddMCat2").select2({ placeholder: "Category" });
        $("#ddMCat3").select2({ placeholder: "Category" });
        $("#ddMCat4").select2({ placeholder: "Category" });
        $("#ddMCat5").select2({ placeholder: "Category" });
        $("#ddMCat6").select2({ placeholder: "Category" });

        $('#mbtn1').click(function () {
            document.getElementById('mhold1').innerHTML = document.getElementById('mpass1').innerHTML
            $("#ddMCat1").select2({ placeholder: "Category" });

            multiclear('1')
        });

        $('#mbtn2').click(function () {
            document.getElementById('mhold2').innerHTML = document.getElementById('mpass2').innerHTML
            $("#ddMCat2").select2({ placeholder: "Category" });

            multiclear('2')
        });

        $('#mbtn3').click(function () {
            document.getElementById('mhold3').innerHTML = document.getElementById('mpass3').innerHTML
            $("#ddMCat3").select2({ placeholder: "Category" });

            multiclear('3')
        });

        $('#mbtn4').click(function () {
            document.getElementById('mhold4').innerHTML = document.getElementById('mpass4').innerHTML
            $("#ddMCat4").select2({ placeholder: "Category" });

            multiclear('4')
        });

        $('#mbtn5').click(function () {
            document.getElementById('mhold5').innerHTML = document.getElementById('mpass5').innerHTML
            $("#ddMCat5").select2({ placeholder: "Category" });

            multiclear('5')
        });

        $('#mbtn6').click(function () {
            document.getElementById('mhold6').innerHTML = document.getElementById('mpass6').innerHTML
            $("#ddMCat6").select2({ placeholder: "Category" });

            multiclear('6')
        });
    });

</script>


