@Html.Raw(ViewData["sidebar"])
<script src="~/js/dropzone/dropzone.js"></script>
<link rel="stylesheet" href="~/js/dropzone/dropzone.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/Clean-jQuery-Date-Time-Picker-Plugin-datetimepicker/jquery.datetimepicker.css" />

<script src="~/js/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="~/js/UI/jquery-ui.css" type="text/css" />
<script src="~/js/UI/jquery-ui.js"></script>
<script src="~/js/jquery.inputmask.js"></script>
<script src="~/js/moment.js"></script>
<script src="~/js/bootstrap-maxlength.js"></script>

<style>
    .txtbox {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 28px;
        width: 100% !important;
    }

    .txtbox2 {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 28px;
    }

    .txtlabel {
        margin-top: 15px;
    }

    .validation {
        color: red;
    }

    .dropzone {
        border: 1px solid #aaa !important;
        border-radius: 5px !important;
        width: 280px;
        margin-top: 15px;
    }

    .imgdiv {
        border: 1px solid #aaa;
        border-radius: 5px;
        margin-top: 10px;
    }

        .imgdiv table {
            width: 280px;
            table-layout: fixed;
        }

    .imgdivtd {
        width: 170px;
        word-wrap: break-word;
        padding-right: 10px
    }

    .yesno {
        border: 1px solid #aaa;
        background-color: white;
        padding: 5px;
        transition: 1s;
        cursor: pointer;
        width: 50px;
        border-radius: 5px;
        text-align: center;
    }

    .xdsoft_time_variant .xdsoft_disabled {
        display: none;
        visibility: hidden;
    }

    .xdsoft_calendar th:first-child {
        display: none;
    }

    .xdsoft_calendar td:first-child {
        display: none;
    }

    .xdsoft_calendar th:last-child {
        display: none;
    }

    .xdsoft_calendar td:last-child {
        display: none;
    }
</style>

<script>
    $(window).load(function () {
        setTimeout(function () {
            $("#alert").hide("slow");
        }, 4000);




        document.getElementById('txttimezone').value = Intl.DateTimeFormat().resolvedOptions().timeZone

        //alert(Intl.DateTimeFormat().resolvedOptions().timeZone)
        //alert(@Html.Raw(ViewData["facilityapi"]))
        //console.log(@Html.Raw(ViewData["facilityapi"]))
    });
</script>

<h1>Support Ticket</h1>
<hr />

<div id="alert" class="alert alert-info @(ViewData["Message"] == null ? "hidden" : null)" role="alert">
    @Html.Raw(ViewData["Message"])
</div>

<div class="txtlabel">Type of Issue</div>
<div>@Html.Raw(ViewData["TicketType"])</div>
<input id="UID" type="text" value="@Html.Raw(ViewData["UID"])" class="hidden" />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="SupportTicket" asp-action="PostTicket" method="post" id="ticketform" class="hidden">
            <div class="txtlabel">Facility</div>
            <div>@Html.Raw(ViewData["facility"])</div>
            <div id="validateFacility" class="hidden">Please select a facility.</div>

            <div class="txtlabel">Name</div>
            <div><input type="text" maxlength="500" id="txtName" class="txtbox" value="@Html.Raw(ViewData["username"])" name="txtName" /></div>
            <div id="validateName" class="hidden">Please enter a name.</div>

            <div class="txtlabel">Email</div>
            <div><input type="text" maxlength="500" id="txtEmail" class="txtbox" value="@Html.Raw(ViewData["email"])" name="txtEmail" /></div>
            <div id="validateEmail" class="hidden">Please enter a email.</div>

            <div class="txtlabel">Phone Number</div>
            <div><input type="text" maxlength="25" id="txtPhone" class="txtbox" name="txtPhone" /></div>
            <div id="validatePhone" class="hidden">Please enter a phone number.</div>

            <div class="txtlabel">Preferred Contact Method</div>
            <div><input type="radio" id="rdPhone" name="rdContact" onchange="showschedule()" /><label for="rdPhone" style="font-weight:normal">&nbsp;&nbsp;Phone</label></div>
            <div><input type="radio" id="rdEmail" name="rdContact" onchange="showschedule()" /><label for="rdEmail" style="font-weight:normal">&nbsp;&nbsp;Email</label></div>
            <div id="validateContactM" class="hidden">Please select a contact method.</div>

            <div id="showschedule" class="hidden">
                <div class="txtlabel">Schedule a time to be called</div>
                <input id="schedtext" class="txtbox" disabled="disabled" />
                <div style="height:5px"></div>
                <div id="fakebox">
                    <input type="text" id="datetimepicker2" name="datetimepicker2" class="txtbox" disabled="disabled" />
                </div>
                <input type="text" id="txttimezone" name="txttimezone" class="hidden" />
                <div id="selectedtime">

                </div>
            </div>

            @*<div class="txtlabel">When is the best time to contact you?</div>
        <div><input type="text" maxlength="500" id="txtContactDT" class="txtbox" name="txtContactDT" /></div>
        <div id="validateContactDT" class="hidden">Please enter a time for contact.</div>*@

            <div class="txtlabel">Is this interfering with the performace of your job?</div>
            <div onclick="changeyesno()"><input type="text" disabled="disabled" value="No" style="cursor:pointer" maxlength="25" id="txtShared" class="txtbox" name="txtShared" /></div>

            <div class="txtlabel">Is this impacting more than just you?</div>
            <div onclick="changeyesno2()"><input type="text" disabled="disabled" value="No" style="cursor:pointer" maxlength="25" id="txtMore" class="txtbox" name="txtMore" /></div>

            <div class="txtlabel">What are the details?</div>
            <textarea style="height:100px" class="txtbox" id="txtNotes" name="txtNotes"></textarea>
            <div id="validateNotes" class="hidden">Please enter some details.</div>

            <input type="text" class="hidden" id="txtContactDT" name="txtContactDT" />
            <input type="text" class="hidden" id="strType" name="strType" />
            <input type="text" class="hidden" id="strTypeAction" name="strTypeAction" />
            <input type="text" class="hidden" id="strContactM" name="strContactM" />
            <input type="text" class="hidden" id="strFacility" name="strFacility" />
            <input type="text" class="hidden" id="strNotes" name="strNotes" />
            <input type="text" class="hidden" name="strUID" value="@Html.Raw(ViewData["UID"])" />

            <input type="button" id="subTicket" class="hidden" onclick="submit()" />
        </form>
    </div>

    <div class="hidden" id="uploadform">


        @using (Html.BeginForm("UploadFile", "SupportTicket",
FormMethod.Post,
new
{
   @class = "dropzone",
   id = "dropzone-form",
}))
        {
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
        <input name="fUID" id="fUID" type="text" value="@Html.Raw(ViewData["UID"])" class="hidden" />}
        <div id="imagelist"></div>


        <div style="height:15px"></div>


        @section Scripts{
            <script type="text/javascript">
                Dropzone.options.dropzoneForm = {
                    paramName: "file",
                    maxFilesize: 20,
                    maxFiles: 4,

                    dictMaxFilesExceeded: "Custom max files msg",
                    dictDefaultMessage: '<img src="/images/uploadimg.png" /><br /><input type="button" class="btn btn-primary" style="margin-bottom:10px;margin-top:15px;" value="Choose files to Upload" /><br /><span style="color:gray">or drag and drop them here</span>',
                    success: function (file, response) {
                        this.removeFile(file);
                        $.get("/SupportTicket/GetImages", { stritem: document.getElementById('fUID').value }, function (data) { document.getElementById('imagelist').innerHTML = data });
                        // This return statement is necessary to remove progress bar after uploading.
                        return file.previewElement.classList.add("dz-success");
                    }
                };


            </script>
        }

    </div>

</div>
<input id="btnSub" type="button" class="hidden" style="margin-bottom:10px;margin-top:15px;" value="Submit" onclick="validatesub()" />


<div class="hidden" style="margin-top:20px" id="linkinfo">
    This link might be able to help.
    <div style="margin-top:10px;"><a id="linktopage"></a></div>
</div>

<script>
    function showschedule() {
        if (document.getElementById('rdPhone').checked == true) {
            var t2 = document.getElementById('ddType').value
            var t2spit = t2.split("$$$")
            if (t2spit[1] == '0') {
                document.getElementById('showschedule').className = ''
            } else {
                document.getElementById('showschedule').className = 'hidden'
            }
            
        } else {
            document.getElementById('showschedule').className = 'hidden'
        }
    }

    function typechange(ddemail, ddoption) {
        $.get("/SupportTicket/TypeChange", { strid: document.getElementById('UID').value, stroption: ddoption }, function (data) { });
        document.getElementById('strTypeAction').value = ddemail
        document.getElementById('strType').value = ddoption
        document.getElementById('showschedule').className = 'hidden'

        if (ddemail.indexOf('http') !== -1) {
            document.getElementById('linkinfo').className = ''
            document.getElementById('ticketform').className = 'hidden'
            document.getElementById('linktopage').setAttribute('href', ddemail)
            document.getElementById('linktopage').innerHTML = ddoption + ' Form'
            document.getElementById('uploadform').className = 'hidden'
            document.getElementById('btnSub').className = 'hidden'
        } else if (ddemail == '0') {
            document.getElementById('linkinfo').className = 'hidden'
            document.getElementById('ticketform').className = 'hidden'
            document.getElementById('uploadform').className = 'hidden'
            document.getElementById('btnSub').className = 'hidden'
        } else {
            document.getElementById('linkinfo').className = 'hidden'
            document.getElementById('ticketform').className = ''
            document.getElementById('uploadform').className = 'col-md-4'
            document.getElementById('btnSub').className = 'btn btn-primary'
            showschedule()
        }
    }

    function changeyesno() {
        if (document.getElementById('txtShared').value == 'Yes') {
            document.getElementById('txtShared').value = 'No'
        } else {
            document.getElementById('txtShared').value = 'Yes'
        }
    }

    function changeyesno2() {
        if (document.getElementById('txtMore').value == 'Yes') {
            document.getElementById('txtMore').value = 'No'
        } else {
            document.getElementById('txtMore').value = 'Yes'
        }
    }

    function delblob(blobname) {
        $.get("/SupportTicket/DelBlob", { stritem: document.getElementById('fUID').value, strblob: blobname }, function (data) { document.getElementById('imagelist').innerHTML = data });
    }

    function validatesub() {
        var errors = 0

        if (document.getElementById('ddFacility').value == '') {
            document.getElementById('validateFacility').className = 'validation'
            errors = 1
        } else {
            document.getElementById('strFacility').value = document.getElementById('ddFacility').value
            document.getElementById('validateFacility').className = 'hidden'
        }

        if (document.getElementById('txtName').value == '') {
            document.getElementById('validateName').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateName').className = 'hidden'
        }

        if (document.getElementById('txtEmail').value == '') {
            document.getElementById('validateEmail').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateEmail').className = 'hidden'
        }

        if (document.getElementById('txtPhone').value == '') {
            document.getElementById('validatePhone').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validatePhone').className = 'hidden'
        }

        if (document.getElementById('rdPhone').checked || document.getElementById('rdEmail').checked) {
            document.getElementById('validateContactM').className = 'hidden'
            if (document.getElementById('rdPhone').checked) {
                document.getElementById('strContactM').value = 'Phone'
            } else {
                document.getElementById('strContactM').value = 'Email'
            }
        } else {
            document.getElementById('validateContactM').className = 'validation'
            errors = 1
        }

        //if (document.getElementById('txtContactDT').value == '') {
        //    document.getElementById('validateContactDT').className = 'validation'
        //    errors = 1
        //} else {
        //    document.getElementById('validateContactDT').className = 'hidden'
        //}

        if (document.getElementById('txtNotes').value == '') {
            document.getElementById('validateNotes').className = 'validation'
            errors = 1
        } else {
            document.getElementById('validateNotes').className = 'hidden'
            document.getElementById('strNotes').value = document.getElementById('txtNotes').value
        }

        
        
        if (errors == 0) {
            document.getElementById('subTicket').click()
        }
    }
</script>
<script src="https://www.jqueryscript.net/demo/Clean-jQuery-Date-Time-Picker-Plugin-datetimepicker/jquery.datetimepicker.js"></script>
<script>


    var d = new Date()
    var da = 1
    if (d.getDay() == 5) {
        da = 3
    }

    if (d.getDay() == 6) {
        da = 2
    }

    d.setDate(d.getDate() + da)

    var min = d.getMinutes();
    if (min < 10) {
        min = "0" + min.toString();
    }

    var ampm = ' am';
    var hours = d.getHours();
    if (hours > 16) {
        hours = 16
        min = "30"
    }
    if (hours < 9) {
        hours = 9
        min = "00"
    }

    if (hours > 12) {
        hours = hours - 12
        ampm = ' pm'
    }
    if (hours == 12) {
        ampm = ' pm'
    }
    if (hours < 10) {
        hours = "0" + hours.toString()
    }

    var strdate = (d.getMonth() + 1).toString() + "/" + d.getDate().toString() + "/" + d.getFullYear().toString() + " " + hours.toString() + ":" + min.toString() + ampm

    $('#datetimepicker2').datetimepicker({
        onGenerate: function (ct) {
            jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                .addClass('xdsoft_disabled');
        },
        inline: true,
        defaultTime: false,
        defaultDate: false,
        minDate: '+1970/01/02',
        formatTime: "h:i a",
        minTime: '09:00 am',
        maxTime: '05:00 pm',
        step: 30,
        onChangeDateTime: function () { datechanged() },
        format: 'm/d/Y h:i a',
        value: strdate
    })
        ;
    $('#fakebox').click(function () {
        $('#datetimepicker2').datetimepicker('show');
    });



    function datechanged() {
        document.getElementById('txtContactDT').value = document.getElementById('datetimepicker2').value
        document.getElementById('schedtext').value = document.getElementById('datetimepicker2').value
    }


</script>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/select2/js/select2.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function ($) {
        $("#ddType").select2();
        $("#ddFacility").select2();
    });

</script>
